{% extends '!footer.html' %}

{%- block extrafooter %}
{{ super() }}
<!-- <p> -->
<!-- <a href="https://creativecommons.org/licenses/by-sa/4.0/" > -->
<!-- <img src="{{ pathto("_static/creativecommons-88x31.png", 1) }}" -->
<!-- border="0" alt="Creative Commons License"/> -->
<!-- </a> -->
<!-- </p> -->
<p>
This is a free book, licensed under the
<a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
  Attribution-ShareAlike 4.0 International license (CC
  BY-SA 4.0)</a> described at
<a href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>
</p>
{% endblock %}
